﻿

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}




/* index.cshtml

*/

.component {
    min-height: 600px;
    margin: 0;
}

a {
    color: black;
}

    a:hover {
        text-decoration: none;
        color: black;
    }

#myCarousel img {
    width: 100%;
    height: 600px;
}



#myProBroad {
    background: url(/Content/Images/cinema.jpg) no-repeat center;
    background-size: cover;
}

    #myProBroad .wrapper {
        position: relative;
        float: right;
        top: 140px;
        max-width: 600px;
        color: white;
    }


    #myProBroad .btn {
        position: relative;
        top: 80px;
        height: 40px;
        width: 150px;
    }


#myMovieWindow {
    overflow: hidden;
    background-color: silver;
    padding-bottom: 20px;
}

#mySlogan {
    background-color: white;
    padding-left: 50px;
    transform-origin: left;
    -ms-transform: translate(-20px,110px) rotate(-45deg);
    -webkit-transform: translate(-20px,110px) rotate(-45deg);
    transform: translate(-20px,110px) rotate(-45deg);
}


#myMovieWindow_content > .row:nth-child(2) {
    display: none;
}

#myMovieWindow_content .item img {
    width: 100%;
    height: 320px;
    display: block;
}

#myMovieWindow_content .item a {
    color: black;
    text-decoration: none;
}

#myMovieWindow_content .item h1 {
    white-space: nowrap;
}


#myMovieWindow_content button {
    width: 100%;
}




/*
ViewAMovie.csthml

*/

.viewMovie:nth-child(2n+1) {
    background-color: silver;
}

.viewMovie:nth-child(2n) {
    background-color: white;
}

#myViewMovie #movieSynopsis .wrapper{
    height: 208px ;
    overflow:  hidden ;
 
}

#myViewMovie iframe {
    width: 100%;
    height: 300px;
}

#myViewMovie img {
    width: 100%;
    height: 600px;
}


#myReviewPanel textarea {
    width: 100%;
    height: 180px;
    resize: none;
    background-color: #f8f8f8;
}



.radio_group label::before {
    font-size: 40px;
    line-height: 90px;
    content: "\2605";
}

.radio_group label {
    width: 20%;
    margin: 0;
    padding: 0;
    float: left;
}



#myReviewPanel input[type=radio] {
    display: none;
}


button[name= "bookButton"] {
    width: 100%;
}


/*
LayOut.cshtml
*/

#notification {
    background-color: #0269c2;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
}

    #notification a {
        color: white;
    }

footer {
    color: white;
    min-height: 200px;
    background: #222222;
}

    footer .centred div {
        height: 60px;
        font-size: 150%;
        line-height: 30px;
    }


    footer .glyphicon {
        color: gold;
    }


.top_border_green {
    border-top: 5px solid chartreuse;
}



.top_border_red {
    border-top: 5px solid deeppink;
}

.top_border_blue {
    border-top: 5px solid deepskyblue;
}


.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid;
    margin: 0 auto;
    visibility: hidden;
}

/*
Common  Setting
*/
.navbar {
    z-index: 1 ;
}

.fillup {
    min-height: 380px;
}


.delete_symbol:hover {
    color: red;
}

.validation-summary-errors ul {
    padding: 0;
    list-style: inside;
}


.float_left {
    float: left;
}

.font_size_200 {
    font-size: 200px;
}

.glyphicon-ok-circle {
    color: green;
}

.float_right {
    float: right;
}

.form-control {
    border-radius: 0;
}

.relative {
    position: relative;
}

.padding_5 {
    padding-top: 5px;
    padding-bottom: 5px;
}



.straight_corner {
    border-radius: 0;
}


.zero_margin {
    margin: 0;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.zero_padding {
    padding: 0;
}

.gold_star {
    color: gold;
}



.centred {
    margin: auto auto;
    display: table;
}

.loading {
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.loader {
    background: url(/Content/Images/loading.gif) no-repeat center;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    margin: 0 auto;
}

.standard_margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin_20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom_border {
    border-bottom: 5px solid gold;
}

.standard_padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn {
    border-radius: 0;
}

.standard_button {
    width: 80px;
    height: 30px;
    line-height: 15px;
}



/* NavigationBarPartial.cshtml*/

#myNavbar li a:focus, #myNavbar li a:hover {
    background-color: gold;
}


.navbar {
    border-color: #222222;
}

.navbar-nav li a, .dropdown-menu li a, .navbar-brand {
    height: 60px;
    font-size: 150%;
    line-height: 30px;
}



#myLogo {
    color: crimson;
    font-size: 200%;
}


.dropdown-menu > li > a {
    padding: 0 10px;
    line-height: 60px;
}



a.carousel-control {
    outline: none;
    outline-offset: 0;
}









/* SignIn.cshtml SignUp.cshtml*/

#mySignIn .form-control, #mySignUp .form-control {
    width: 280px;
}



/* MovieReviewsPartial.cshtml */

#myReviewPanel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#myReviewPanel ul li {
    padding: 0;
    margin: 0;
    min-height: 50px;
    line-height: 50px;
    font-size: 150%;
    border-bottom: 2px solid black;
}

#myReviewPanel ul li:nth-of-type(2n+1) {
    background-color: #f8f8f8;
}

#myReviewPanel ul li:nth-of-type(2n) {
    background-color: white;
}




/**
BookAMovie.cshtml
*/


.panel-default > div.panel-heading {
    background-color: silver;
    border-radius: 0;
}

.panel-group > .panel-default {
    border-radius: 0;
}

input.changeDate {
    display: none;
}

button.changeDate, input.changeDate {
    float: right;
}



#sessionSelection button, input.changeDate, #paymentInformation button {
    width: 130px;
}



#generalInformation ul, #bookingSummary ul, #mySessionsWindow ul {
    padding: 0;
    margin: 0;
    list-style: inside;
}

/**/
@media all and (max-width :991px) {
    button.changeDate, input.changeDate {
        float: left;
    }
}

#bookingSummary img {
    width: 100%;
}

#bookingSummary hr {
    border: 1px solid #dddddd;
}



/*
SeatSelectionPartial.cshtml
*/

.seat {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 150%;
    text-align: center;
    line-height: 40px;
}

.screen {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 200%;
    text-align: center;
    background-color: blue;
}


#cinemaLayout {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}


    #cinemaLayout > div {
        width: 1280px;
        margin: 100px auto;
        background-color: white;
    }

.seatAva_FREE {
    background-color: seagreen;
}


.seatAva_TAKEN {
    background-color: orangered;
}


.seatAva_UNAVAILABLE {
    background-color: grey;
}

.selectedSeat {
    background-color: peru;
}

#legend .seat {
    margin: 0;
}

#legend .col {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

    #legend .col span {
        font-weight: bold;
        margin: auto 5px;
    }

/* BookingSuccess*/


#bookingSuccess .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

 

#bookingSuccess a {
    color: blue;
}

#bookingSuccess {
    display: flex;
    align-items: center;
}

#bookingSuccess a:hover {
    text-decoration: underline;
}



/* AdminLayout*/




#adminFooter {
    color: white;
    font-size: 150%;
    background-color: #e65014;
}

#myAdminlayout {
    display: flex;
    display: -webkit-flex;
    align-items: stretch;
    -webkit-align-items: stretch;
}

.adminNavBar {
    background-color: black;
    color: white;
    min-width: 280px;
}

    .adminNavBar li {
        width: 100%;
        margin: 0;
    }

    .adminNavBar ul {
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0 15px;
    }

    .adminNavBar .wrapper {
        position: fixed;
        min-width: 280px; /* has to be the same as adminNavBar min-width*/
    }


    .adminNavBar a {
        padding: 0 15px;
        height: 60px;
        line-height: 60px;
        font-size: 150%;
        display: block;
        color: white;
        width: 100%;
    }

        .adminNavBar a:hover {
            background-color: #e65014;
        }


.adminBodyHeader {
    position: relative;
    width: 100%;
    height: 60px;
    color: white;
    font-size: 300%;
    font-weight: bold;
    line-height: 60px;
    background-color: #e65014;
}

#adminBody {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}


#adminLogo {
    color: crimson;
    font-size: 250%;
    text-align: center;
    border-bottom: 2px solid #e65014;
}

    #adminLogo:hover {
        background-color: black;
    }

.admin_container {
    margin: 3%;
    min-height: 500px;
}

@media all and (max-width: 991px) {

    #myAdminlayout {
        flex-direction: column;
        -webkit-flex-direction: column;
    }

        #myAdminlayout > * {
            width: 100%;
        }


    .adminNavBar .wrapper {
        position: static;
    }
}


.admin_bottom_border {
    border-bottom: 5px solid #e65014;
}


/*ManageMovie*/

#adminAccordion textarea {
    resize: none;
    height: 100px;
}

.adminForm {
    border: inset silver;
    width: 80%;
    padding: 30px;
}

/* DashBoard   , admin */

.progress {
    background-color: silver;
}

.dashboard_panel .panel-body {
    max-height: 480px;
    overflow: auto;
}

#indexSlides {
    overflow: auto;
    padding: 10px;
}

    #indexSlides .wrapper {
        max-width: 50px; /* the actual value doesnt matter */
        white-space: nowrap;
    }

#browseButton {
    position: relative;
    background-color: lightseagreen;
}


.frame {
    position: relative;
    margin: 10px;
    vertical-align: top;
    display: inline-block;
    width: 320px;
    height: 240px;
}

    .frame img {
        width: 100%;
        height: 100%;
    }

#browseButton p {
    text-align: center;
    font-size: 1000%;
    line-height: 240px; /*has to be the same as height of frame*/
}

#browseButton input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.frame .delete_symbol {
    opacity: 0;
    font-size: 1000%;
    line-height: 240px; /*has to be the same as height of frame*/
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}

    .frame .delete_symbol:hover {
        opacity: 1;
        background-color: rgba(0,0,0,0.5);
    }




#userDashBoard .jumbotron {
    min-height: 300px;
    display: flex;
    align-items: center;
}

    #userDashBoard .jumbotron .wrapper {
        margin: 0 auto;
    }


#signUpSuccess .wrapper > div {
    margin: 0 10px;
}

#signUpSuccess .wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

#signUpSuccess {
    display: flex;
    align-items: center;
}


/* aboutlayout */

#aboutLayout .complementary ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
}

#aboutLayout .section {
	overflow: auto ;
}


#aboutLayout .complementary .wrapper {
    position: fixed;
    padding: 20px 0;
}



@media all and (max-width: 991px) {
    #aboutLayout .complementary {
        display: none;
    }
}

#aboutLayout > .separator {
    margin-top: 40px;
}

#aboutLayout .complementary ul li a {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 120%;
    padding: 0 20px;
}

#aboutLayout hr {
    border: 1px solid grey;
}


#aboutLayout img {
    width: 100%;
    border: 1px solid grey;
}

.section  {
    overflow: auto ;
}

/* aboutApplication*/

#applicationFeatures .wrapper {
    margin-bottom: 50px;
}

/* profile */

/*error.cshtml*/
#errorPage .wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#errorPage {
    display: flex;
    align-items: center;
}

    #errorPage .wrapper > div {
        margin: 10px;
    }
