﻿@model MovieApplication.ViewModels.ReviewsViewModel
@using MovieApplication.Models


<h2 class="text-center">@Model.Message</h2>
<ul>
    @foreach (Review review in Model.Reviews)
    {
        <li>
            <div class="row">
                <div class="col-md-9">
                    @review.Comment
                </div>
                <div class="col-md-3 ">
                    @for (var i = 0; i < @review.Rating; i++)
                    {
                        <span class="glyphicon glyphicon glyphicon-star gold_star"></span>
                    }

                </div>
            </div>
        </li>
    }
</ul>