﻿@model MovieApplication.ViewModels.ViewAMovieViewModel
@{ 
    ViewBag.Title = "DC Movie | " + @Model.Movie.Name;
}
<div class="container-fluid viewMovie">
    <div class="container" id="myViewMovie">
        <div class="row standard_padding">
            <h1 class="bottom_border centred padding_5">
                @Model.Movie.Name
            </h1>
        </div>
        <div class="row">
            <div class="col-md-4 standard_padding">
                <img src="@Model.Movie.Cover" />
            </div>
            <div class="col-md-8">
                <div class="row" id="movieSynopsis">
                    <div class="col-sm-12">
                        <h3>Synopsis</h3>
                        <div class="wrapper">
                            <p>@Model.Movie.Synopsis</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <h3>Trailer</h3>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="@Model.Movie.Trailer"></iframe>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Extra Information</h3>
                                <p>Category: @Model.Movie.Category</p>
                                <p>Language: @Model.Movie.Language</p>
                                <p>Length: @Model.Movie.Length Mintues</p>
                                <p>Rating: @Model.Movie.AverageRating.ToString("#.##") / 5</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 ">
                                <a href="/Booking/BookAMovie/@Model.Movie.MovieID"><button type="submit" class="btn btn-success " name="bookButton">Book</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid viewMovie">
    <div class="container padding_5">
        <div class="col-md-12">
            <div class="row margin_20">
                <div class="col-md-12 text-center">
                    <div class="circle">
                        <h1 class="bottom_border centred padding_5">Reviews</h1>
                    </div>
                </div>
            </div>
            <div class="row" id="myReviewPanel">
                <div class="col-md-12">
                    <div class="row">
                        <form role="form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <textarea placeholder="Enter Your Review Here" name="Comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4 radio_group ">
                                        <div class="centred">
                                            <h1>Rate This Movie</h1>
                                            @for (var i = 1; i <= 5; i++)
                                            {
                                                <label><input type="radio" name="Rating" value="@i" /> </label>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                    @if (Request.IsAuthenticated)
                                    {
                                        <button name="postReview" type="button" class="btn btn-success centred" data-url="/Movie/PostAReview/@Model.Movie.MovieID" disabled>Post</button>
                                    }
                                    else {
                                        <a href="/Home/SignIn"><button type="button" class="btn btn-success centred">Post</button></a>

                                    }

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row margin_20">
                        <div class="col-md-12" id="myReviewsBox">
                            @{
                                Html.RenderAction("RetrieveReviews", new { id = Model.Movie.MovieID });
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
