﻿
@{
    ViewBag.Title = "About Application";
    Layout = "~/Views/Shared/AboutLayout.cshtml";
}

<div class="row section">
    <h2 class="section_title" id="chapter5">Background</h2>
    <p>
        The domain and scope of the application is completely determined and implemented by myself (Derrick). I drew inspirations for some parts of UI design of the site
        from other existing commerical sites. The application is developed as portfolio purely in order to demonstrate the skills I  masters to build a functional and operational website. 
    </p>
</div>
<div class="row section">
    <h2 class="section_title" id="chapter1">Examination</h2>
    <p>To test and examine the full potential of this application , there are a few things to note:</p>
    <div class="wrapper">
        <h3>Payment</h3>
        <p>Currently , for the purpose of testing, testing mode is switched on with Stripe. Card number 4242424242424242 with a valid 
        expiry year and month (not before the current date) is considered valid.</p>
    </div>
    <div class="wrapper">
        <h3>Admin Privileges</h3>
        <p> Orindary users cannot register as an Admin . However , to be equipped with full abilities of an Admin , credentials are provided for access
        </p>
        <p> User Name : admin@dcmovie.com </p>
        <p> Password : 888888 </p>
    </div>

</div>
<div class="row section">
    <h2 class="section_title" id="chapter2">Skills Involved</h2>
    <h3>Technical Skills</h3>
    <ul>
        <li>HTML5</li>
        <li>CSS5</li>
        <li>Javascript</li>
        <li>Bootstrap</li>
        <li>JQuery</li>
        <li>Ajax</li>
        <li>JSON</li>
        <li>MVC</li>
        <li>C Sharp</li>
        <li>Visual Studio </li>
        <li>Debugging and Testing</li>
        <li>Entity Framework (Code First Approach)</li>
        <li>Stripe (Third Party Payment Provider)</li>
    </ul>
    <h3>Non-Technical Skills</h3>
    <ul>
        <li>Self-Learning</li>
        <li>Problem Solving</li>
        <li>Software Design Principles</li>
        <li>Analysis</li>
    </ul>
</div>
<div class="row section" id="applicationFeatures">
    <h2 class="section_title" id="chapter3">Features</h2>
    <div class="wrapper">
        <h3>Post A Review Via Ajax</h3>
        <p>User can post a review and rate the movie at will </p>
        <img src="~/Content/Screenshots/1.png" />
    </div>
    <div class="wrapper">
        <h3>Select A Seat</h3>
        <p>User can select a seat </p>
        <img src="~/Content/Screenshots/2.png" />
    </div>
    <div class="wrapper">
        <h3>Booking Summary </h3>
        <p>Booking summary is dynamically created</p>
        <img src="~/Content/Screenshots/3.png" />
    </div>
    <div class="wrapper">
        <h3>Accept Stripe Payment</h3>
        <p>User can make payment via third party payment vendor Stripe</p>
        <img src="~/Content/Screenshots/3.png" />
    </div>
    <div class="wrapper">
        <h3>Side Navigation Bar (Scrollfly by Derrick)</h3>
        <p>Navi Bar will reflect the section a user is at accordingly as the page is scrolled</p>
        <img src="~/Content/Screenshots/4.png" />
    </div>
    <div class="wrapper">
        <h3>View Movie Session Attendance Rate (Admin)</h3>
        <p>Admin can see the rate through progress bar </p>
        <img src="~/Content/Screenshots/5.png" />
    </div>
    <div class="wrapper">
        <h3>Manage Slides (Admin)</h3>
        <p>Admin can add and delete slides </p>
        <img src="~/Content/Screenshots/6.png" />
    </div>
    <div class="wrapper">
        <h3>Manage Movies (Admin)</h3>
        <p>Admin can add , delete and edit movies </p>
        <img src="~/Content/Screenshots/7.png" />
    </div>
    <div class="wrapper">
        <h3>Manage Movie Sessions (Admin)</h3>
        <p>Admin can add , delete and edit movie sessions</p>
        <img src="~/Content/Screenshots/8.png" />
    </div>
    <div class="wrapper">
        <h3>Manage Cinemas (Admin)</h3>
        <p>Admin can add , delete and edit cinemas</p>
        <img src="~/Content/Screenshots/9.png" />
    </div>
    <div class="wrapper">
        <h3>View Transaction History (User)</h3>
        <p>User can view past transaction history</p>
        <img src="~/Content/Screenshots/10.png" />
    </div>

</div>
<div class="row section">
    <h2 class="section_title" >Critique</h2>
    <p>
        Being a senior developer of ASP.NET and Entity framework , the following potential performance , design , usaibility , reusability issues with the application are identified :
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Problem</th>
                <th>Cause</th>
                <th>Impact</th>
                <th>Solution</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>N+1 Problem with Lazy Loading</td>
                <td>I did not come across the concept of Lazy Loading and Eager Loading until towards the near end of the development</td>
                <td>It can potentially dramatically degrade the performance if there is a large amount of data needed to be loaded by Lazy Loading</td>
                <td>
                    Remove keyword Virtual from Models to preclude excessive access to Database due to Lazy Loading , however ,
                    it risks breaking the application now since the change can affect so many part of the application
                </td>
            </tr>
            <tr>
                <td>Improvable User Experience</td>
                <td>Not experienced in thinking from the perspective of a user</td>
                <td>Users have problems using the application</td>
                <td>Gain more experience by browsing more professional websites in the same domain </td>
            </tr>
            <tr>
                <td>Naming Convention</td>
                <td>Do not have a good naming convention to follow</td>
                <td>Cause confusion and bad rememberability</td>
                <td>
                    It is easy to break the code if I formulate a new naming convention and follow it because Javascript and CSS along with
                    C# code references the element by id or name attribute
                </td>
            </tr>
            <tr>
                <td>Incorrect Time Zone</td>
                <td>Under the free hosting plan, I have no permission to change the time to Australian Eastern Standard Time</td>
                <td>Have impact on all time-related events</td>
                <td>
                    No solution yet unless upgrade to paid plan
                </td>
            </tr>
        </tbody>
    </table>
</div>