﻿@model MovieApplication.ViewModels.IndexViewModel
@using MovieApplication.Enums
@using MovieApplication.Models

@{
    ViewBag.Title = "DC Movie | Offer Enjoyable And Fantastic Experience";
    var count = 1;
    var page = 0;
}
<div class="row component">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @foreach (Slide slide in Model.Slides)
            {
                <li data-target="#myCarousel" data-slide-to="@page" class="@if (page == 0) { Write("active"); }"></li>
                page++;
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @foreach (Slide slide in Model.Slides)
            {
                <div class="item @if (count == 1) { Write("active"); } ">
                    <img src="@slide.Path">
                </div>
                count++;
            }
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="row component" id="myMovieWindow">
    <h2 id="mySlogan">Hot Offers</h2>
    <div class="container">
        <div class="row ">
            <div class="btn-group centred">
                <button type="button" class="btn btn-primary" name="nowShowingButton">Now Showing</button>
                <button type="button" class="btn btn-primary" name="comingSoonButton">Coming Soon</button>
            </div>
            <div id="myMovieWindow_content">
                <div class="row">
                    <div class="col-md-12">
                        @{
                            Html.RenderAction("MovieGallary", new { type = MovieType.NowShowing });
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @{
                            Html.RenderAction("MovieGallary", new { type = MovieType.ComingSoon });
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row component" id="myProBroad">
    <div class="wrapper col">
        <div>
            <h2 class="italic">Afforadable Ticket, All Year</h2>
            <h3>Better Payment Option, Faster Passage Towards Exceptional Experience</h3>
        </div>
         <input class="btn-success btn" type="button" value="Book Now" /> 
    </div>
</div>