﻿@model MovieApplication.ViewModels.MoviesViewModel
@using MovieApplication.Models
@{
    var COL_NUM = 4;
    var movies_num = Model.Movies.Count;
    var ROW_NUM = (int)Math.Ceiling((Double)movies_num / COL_NUM);
    var movies = Model.Movies.ToArray();

}
 
    @for (var i = 0; i < ROW_NUM; i++)
    {
        <div class="row">
            @for (var ii = 0; ii < COL_NUM; ii++)
            {
                var result = i * COL_NUM + ii;
                <div class="col-md-3 item">
                    @if (result < movies_num)
                    {
                        <h1>@movies[result].Name</h1>
                        <img src="@movies[result].Cover" />
                        <a href="/Movie/ViewAMovie/@movies[result].MovieID">
                            <button class="btn btn-success "> More Detail </button>
                        </a>
                        <a href="/Booking/BookAMovie/@movies[result].MovieID">
                            <button class="btn btn-danger"> Book </button>
                        </a>
                    }

                </div>


            }

        </div>
    }
 