﻿@model MovieApplication.ViewModels.MoviesViewModel
@using MovieApplication.Models
@{ 
    var movies = Model.Movies.ToArray();
    var ceilingNum = Math.Min(5, movies.Length);
}
    
<div class="row">
    <h2>Top @ceilingNum Movies</h2>
</div>
   <div class="row">
       <ol>
           @for (var i = 0; i < ceilingNum; i++)
           {

               <li >
                    <span>@movies[i].Name</span> <span>@movies[i].AverageRating </span>
               </li>

           }
       </ol>


    </div>