﻿@model MovieApplication.ViewModels.MoviesViewModel
@using MovieApplication.Models


<div class="container">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="sel1">Select A Movie:</label>
            <select class="form-control" name="movie">
                @foreach (Movie movie in Model.Movies)
                {
                    <option>@movie.Name</option>
                }
            </select>
        </div>
 
    </form>
</div>
