﻿@model  MovieApplication.ViewModels.SignInViewModel
<div class="container" id="mySignIn">
    <div class="row ">
        <h1 class="bottom_border text-center padding_5">Sign In</h1>
    </div>
    <span class="row centred" >
             @Html.ValidationSummary(false,"", new  { @class= "alert-danger"})
      </span>
    <div class="row standard_padding centred">

            <form  class="row" role="form" method="post" action="~/Account/SignIn">
                <div class="form-group">
                    <label  >Email:</label>
                         <input type="email" class="form-control straight_corner" name="Email" placeholder="Enter Email" value="@Model.Email">
 
                </div>
  
                <div class="form-group">
                    <label  >Password:</label>
                         <input type="password" class="form-control straight_corner" name="Password" placeholder="Enter Password" value="@Model.Password">
                 </div>

                <div class="form-group">
                         <div class="checkbox">
                            <label><input type="checkbox" name="RememberMe" checked="@Model.RememberMe"> Remember Me ?</label>
                        </div>
                 </div>
                <div class="form-group">
                         <button type="submit" class="btn btn-success standard_button loading_btn centred">Sign In</button>
                 </div>
            </form>

        <div  class="row standard_margin"  >
            <h4>Have Not Been With Us Yet ?</h4>
            <h4>Click to <a href="~/Home/SignUp">SIGN UP</a> </h4>
        </div>

        </div>
 

 </div>


