﻿@model  MovieApplication.ViewModels.SignUpViewModel
<div class="container" id="mySignUp">
    <div class="row ">
        <h1 class="bottom_border text-center padding_5">Sign Up</h1>
    </div>
    <div class="row standard_padding">
        <div class="col-md-8">

            <form class="form-horizontal  " role="form" method="post" action="~/Account/SignUp">
                <div class="form-group ">
                    <label class="control-label col-sm-2">First Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control straight_corner" name="FirstName" placeholder="Enter First Name" value="@Model.FirstName">
                    </div>

                </div>
                <div class="form-group ">
                    <label class="control-label col-sm-2">Last Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control straight_corner" name="LastName" placeholder="Enter Last Name" value="@Model.LastName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control straight_corner" name="Email" placeholder="Enter Email" value="@Model.Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Phone Number:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control straight_corner" name="PhoneNumber" placeholder="Enter Phone Number" value="@Model.PhoneNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Password:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control straight_corner" name="Password" placeholder="Enter Password" value="@Model.Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Confirm Password:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control straight_corner" name="ConfirmPassword" placeholder="Confirm Password" value="@Model.ConfirmPassword">
                    </div>
                </div>
 
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success standard_button  loading_btn">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="alert-danger">
                    <div>
                        @Html.ValidationSummary()
                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Have An Account Already ?</h4>
                <h4>Click to <a href="~/Home/SignIn">SIGN IN</a> </h4>
            </div>

        </div>
       
    </div>
</div>

