﻿ 
<div class="container" id="signUpSuccess">
         <div class="wrapper fillup">
            <div class="glyphicon glyphicon-ok-circle text-success font_size_200"> </div>
            <div >
                <h1>Congradulation  </h1>
                <h2>You have successfully signed up with us  </h2>
            </div>
        </div>
</div>

