﻿@model MovieApplication.ViewModels.UserDashboardViewModel
@using MovieApplication.Models
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var count = 1;
}
<div id="userDashBoard">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <div class="wrapper">
                    <h3 class="text-center">
                        Good @{
                            var hour = DateTime.Now.Hour;
                            if (hour >= 12 && hour < 18) { Write("Afternoon"); }
                            else if (hour > 18)
                            {
                                Write("Evening");
                            }
                            else { Write("Morning"); }
                        }, @Model.UserName
                    </h3>
                    <h2 class="text-center text-success">Welcome Back</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default straight_corner">
                <div class="panel-heading">
                    <div class="panel-title"><h4>Top 5 Movies </h4></div>
                </div>
                <div class="panel-body">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Movie</th>
                                <th>Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Movie movie in Model.Movies)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@movie.Name</td>
                                    <td>@movie.AverageRating</td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default straight_corner">
                <div class="panel-heading">
                    <div class="panel-title"><h4>Transaction History</h4></div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Transaction No. </th>
                                <th>Movie  </th>
                                <th>Amount</th>
                                <th>Transaction Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Transaction transaction in Model.Transactions)
                            {
                                <tr>
                                    <td>@transaction.TransactionID</td>
                                    <td>@transaction.Session.Movie.Name</td>
                                    <td>$@transaction.Amount</td>
                                    <td>@transaction.Date.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>