﻿@model MovieApplication.ViewModels.MoviesViewModel
@using MovieApplication.Models
<div class="row" id="movieRanking">
    <ol>
        @foreach (Movie movie in Model.Movies)
        {
            <li>
                <span>@movie.Name</span> <span class="float_right">@movie.AverageRating </span>
            </li>
        }
    </ol>
</div>