﻿@model MovieApplication.ViewModels.TransactionsViewModel
@using MovieApplication.Models
@using System.Data.Entity;
@{
    ViewBag.Title = "Transaction History";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Transaction No. </th>
                    <th>Movie  </th>
                    <th>Amount</th>
                    <th>Transaction Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Transaction transaction in Model.Transactions) {
                    <tr>
                        <td>@transaction.TransactionID</td>
                        <td>@transaction.Session.Movie.Name</td>
                        <td>$@transaction.Amount</td>
                        <td>@transaction.Date.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

