﻿@model MovieApplication.ViewModels.BookAMovieViewModel
@using MovieApplication.Models
@{ 
    ViewBag.Title = "DC Movie | Book " + Model.Movie.Name;
}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 standard_margin">
                <div class="row">
                    <h1 class="bottom_border padding_5 centred">Book A Ticket</h1>
                </div>
                <div class="row margin_20">
                    <div class="col-md-8">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse"  href="#sessionSelection">Session Selection</a>
                                    </h4>
                                </div>
                                <div id="sessionSelection" class="panel-collapse open in">
                                    <div class="panel-body">
                                        <div class="row ">
                                            <div class="col-md-9">
                                                <h3 class="zero_margin padding_5">Sessions For : <span class="italic bold changeDate">@DateTime.Today.ToString("yyyy-MM-dd")</span></h3>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-primary changeDate " data-url="/Booking/RetrieveMovieSessions/@Model.Movie.MovieID">Change Date</button>
                                            </div>
                                        </div>
                                        <div class="row padding_5">
                                            <div class="col-md-12">
                                                <input type="date" name="selectedDate" class="changeDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" id="mySessionsWindow">
                                                @{
                                                    Html.RenderAction("RetrieveMovieSessions", new { id = Model.Movie.MovieID, date = DateTime.Today });
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#paymentInformation">Payment Information</a>
                                    </h4>
                                </div>
                                <div id="paymentInformation" class="panel-collapse open in">
                                    <div class="panel-body">
                                        <form role="form">
                                            <div class="form-group">
                                                <label>Card Holder Name:</label>
                                                <input type="text" class="form-control" name="HolderName" placeholder="Enter The Card Holder Name">
                                            </div>
                                            <div class="form-group">
                                                <label>Card Number:</label>
                                                <input type="number" class="form-control" name="CardNumber" placeholder="Enter Your Card Number">
                                            </div>
                                            <div class="form-group">
                                                <label>Expiry Month:</label>
                                                <select class="form-control" name="ExpiryMonth">
                                                    @for (var i = 1; i <= 12; i++)
                                                    {
                                                        <option>@i</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Expiry Year:</label>
                                                <select class="form-control" name="ExpiryYear">
                                                    @for (var i = DateTime.Now.Year; i <= DateTime.Now.Year + 5; i++)
                                                    {
                                                        <option>@i</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>CCV:</label>
                                                <input type="number" class="form-control" name="CCV" placeholder="Enter Your CCV ">
                                            </div>
                                            <div class="form-group">
                                                 <button type="button" class="btn btn-success centred" name="payButton" disabled>Pay Now</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#generalInformation">General Information</a>
                                    </h4>
                                </div>
                                <div id="generalInformation" class="panel-collapse open in ">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>TO COLLECT YOUR TICKETS YOU WILL NEED:</h4>
                                                 <ul>
                                                     <li>A copy of your confirmation, the confirmation email or the confirmation number</li>
                                                 </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>DISCLAIMER:</h4>
                                                <ul>
                                                    <li>You can buy a maximum of 5 tickets for each transaction</li>
                                                    <li>No refund, exchange or transfer is available for online ticket sales</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel-group">
                            <div class="panel panel-default" id="">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#bookingSummary">Booking Summary</a>
                                    </h4>
                                </div>
                                <div id="bookingSummary" class="panel-collapse open in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img src="@Model.Movie.Cover"/>
                                            </div>
                                            <div class="col-md-6">
                                                <p><b>Category</b>: @Model.Movie.Category</p>
                                                <p><b>Language</b>: @Model.Movie.Language</p>
                                                <p><b>Length</b>: @Model.Movie.Length Mintues</p>
                                                <p><b>Rating</b>: @Model.Movie.AverageRating / 5</p>
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="col-md-12" id="paymentSummary">
                                              </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" id="seatSummary">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
