﻿
@{
    ViewBag.Title = "Booking Succeed";
}
<div class="container " id="bookingSuccess">
         <div class="wrapper fillup">
                <div>
                    <span class="glyphicon glyphicon-ok-circle text-success font_size_200"> </span>
                </div>
                  <div>
                    <h1>Your Payment Was Successful</h1>
                    <h3><a href="/Booking/CreateConfirmationLetter">Click</a> To View The Confirmation Letter</h3>
                </div>
         </div>
 </div>
