﻿@model MovieApplication.ViewModels.SeatsSelectionViewModel
<div class="container">
    <div class="row standard_margin">
        <div class="col-md-12"> <div class="screen">Screen</div> </div>
    </div>
    <div class="row standard_margin centred">
        <div class="col-md-12">
            @for (var row = 0; row < Model.Cinema.Row; row++)
            {
                <div class="row">
                    <div class="col-md-12">
                        @for (var col = 0; col < Model.Cinema.Column; col++)
                        {
                            var seat = Model.Seats.ElementAt(row * Model.Cinema.Column + col);
                            <div class="seat seatAva_@seat.Availability" seatNumber="@seat.SeatNumber">@seat.SeatNumber</div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row margin_20" id="legend">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3><b>Legend: </b></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col">
                     <div class="seat seatAva_FREE"> </div><span>Free Seat</span> 
                 </div>
                <div class="col-md-3 col">
                    <div class="seat seatAva_TAKEN"></div><span>Taken Seat</span>
                </div>
                <div class="col-md-3 col">
                    <div class="seat selectedSeat"></div><span>Selected Seat</span>
                </div>
                <div class="col-md-3 col">
                    <div class="seat seatAva_UNAVAILABLE"></div><span>Unavailable Seat</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin_20">
        <div class="col-md-6 ">
            <button name="seatConfirmButton" class="btn btn-success standard_button centred" disabled>Confirm </button>
        </div>
        <div class="col-md-6">
            <button name="seatCancelButton" class="btn btn-danger standard_button centred">Cancel</button>
        </div>
    </div>
</div>


