﻿@model MovieApplication.ViewModels.MovieSessionsViewModel
@using MovieApplication.Models


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Price</th>
                    <th>Cinema</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Session session in Model.Sessions)
            {
                    <tr>
                        <td>@session.Time.ToShortTimeString()</td>
                        <td><span>$</span>@session.TicketPrice</td>
                        <td>@session.CinemaID </td>
                        <td>
                            <select sessionID="@session.SessionID" ticketPrice="@session.TicketPrice">
                                <option selected>0</option>
                                @for (var i = 1; i <= 5; i++)
                                {
                                    <option>@i</option>
                                }
                            </select>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
         <button type="button" class="btn btn-success" name="selectSeat" disabled>Select Seat</button> 
    </div>

</div>
