﻿
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="container " id="aboutLayout">
    <div class="row margin_20">
        <h1 class="centred bottom_border padding_5">@ViewBag.Title</h1>
    </div>
    <div class="separator">
        <hr />
    </div>
    <div class="row margin_20">
        <div class="col-md-3 complementary">
            <div class="wrapper">
            </div>
        </div>
        <div class="col-md-9 main">
            @RenderBody() 
        </div>
    </div>

</div>
