﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="col-md-12">
        <div class="row">
            <div id="myAdminlayout">
                <div class="adminNavBar col">
                    <div class="wrapper">
                        <ul>
                            <li><a class="italic bold " href="/Home/Index" id="adminLogo">DC Movie</a></li>
                            <li><a href="/Account/ViewProfile"><span class="glyphicon glyphicon-user"></span> My Profile</a> </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a href="/Admin/Index"><span class="glyphicon glyphicon glyphicon-dashboard"></span> DashBoard</a> </li>
                                <li><a href="/Admin/ManageMovies"><span class="glyphicon glyphicon glyphicon-film"></span> Manage Movie</a> </li>
                                <li><a href="/Admin/ManageSessions"><span class="glyphicon glyphicon-time"></span> Manage Session</a> </li>
                                <li><a href="/Admin/ManageCinemas"><span class="glyphicon glyphicon-facetime-video"></span> Manage Cinema</a> </li>
                                <li><a href="https://dashboard.stripe.com/login"><span class="glyphicon glyphicon-tasks"></span> Manage Transaction</a> </li>
                                <li><a href="#"><span class="glyphicon glyphicon-cog"></span> General Setting</a> </li>
                            }
                            else {
                                <li><a href="/User/Index"><span class="glyphicon glyphicon glyphicon-dashboard"></span> DashBoard</a> </li>
                            }
                            <li><a href="/Account/SignOut"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col" id="adminBody">
                    <div class="adminBodyHeader"> <p class="text-center"> @ViewBag.Title </p></div>
                    <div class="admin_container">

                        @RenderBody()
                    </div>
                    <div id="adminFooter">
                        <div class="row centred">
                            <p>Designed and Powered by Derrick </p>
                            <p class="text-center">Copyright  &copy; @DateTime.Now.Year </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/Site.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
</body>
</html>
