﻿<div class="container" id="errorPage">
    <div class="wrapper fillup">
        <div>
            <scan class="glyphicon font_size_200 glyphicon-remove-circle text-danger"></scan>
        </div>
        <div>
            <h1>An error occurred while processing your request</h1>
        </div>
    </div>
</div>