﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The site is developed to demonstrate the skills of the developer, Derrick, to any potential
          recruiter. Ordinary users can choose , review , book movies at will and pay for them. Administrators can have the 
          capactity to manage movies, cinemas, slides on the index pages etc. It aims to tell prospective employers that I have 
          strong abilities to learn and master new technologies quickly and comprehensively">
    <meta name="keywords" content="HTML,CSS,C#,JavaScript,ASP.NET,MVC,Bootstrap,Movie,Booking,Monash,Graduate,Ajax,JSON">
    <meta name="author" content="Derrick Cheung, Zhaohui Zhang">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="https://js.stripe.com/v2/"> </script>
</head>
<body>
    <div id="notification" class="text-center"><a href="/Home/AboutApplication#chapter1">Log In As Admin To Assess More Functionalities !</a></div>
    <nav class="navbar navbar-inverse straight_corner zero_margin">
        <div class="container ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand italic bold" href="/Home/Index" id="myLogo">DC Movie</a>
            </div>
            <div class="collapse navbar-collapse " id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-info-sign"></span> About <span class="caret"></span></a>
                        <ul class="dropdown-menu zero_padding">
                            <li><a href="/Home/AboutApplication">The Application</a></li>
                            <li><a href="/Home/AboutDeveloper">The Developer</a></li>
                        </ul>
                    </li>
                </ul>
                @if (Request.IsAuthenticated)
            {
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a href="/Admin/Index"><span class="glyphicon glyphicon-dashboard"></span> DashBoard</a></li>
                        }
                        else {
                            <li><a href="/User/Index"><span class="glyphicon glyphicon-dashboard"></span> DashBoard</a></li>
                        }
                        
                        <li><a href="/Account/SignOut"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
                    </ul>
                }
                else {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Home/SignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="~/Home/SignIn"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row ">
                <div class="col-md-4 top_border_green col">
                    <div class="arrow-down "></div>
                    <div class="centred">
                        <div class="glyphicon glyphicon-envelope centred "></div> <div>Email: 5.hins919@gmail.com</div>
                    </div>
                </div>
                <div class="col-md-4 top_border_red col">
                    <div class="arrow-down"></div>
                    <div class="centred">
                        <div class="glyphicon glyphicon-earphone centred"></div> <div>Phone: 0420861828</div>
                    </div>
                </div>
                <div class="col-md-4 top_border_blue col">
                    <div class="arrow-down"></div>
                    <div class="centred">
                        <div class="glyphicon glyphicon-map-marker centred"></div> <div>Address: Nioka St , Chadstone, Vic</div>
                    </div>
                </div>
            </div>
            <div class="row centred">
                <p>Designed and Powered by Derrick </p>
                <p class="text-center">Copyright  &copy; @DateTime.Now.Year </p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/Site.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
</body>
</html>
