﻿<nav class="navbar navbar-inverse straight_corner zero_margin">
    <div class="container ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand italic bold" href="/Home/Index" id="myLogo">DC Movie</a>
        </div>
        <div class="collapse navbar-collapse " id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/Home/Index">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">About <span class="caret"></span></a>
                    <ul class="dropdown-menu zero_padding">
                        <li><a href="#">The Application</a></li>
                        <li><a href="#">The Developer</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Category <span class="caret"></span></a>
                    <ul class="dropdown-menu zero_padding">
                        <li><a href="#">Horror</a></li>
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">Romance</a></li>
                    </ul>
                </li>

            </ul>

            @if (Request.IsAuthenticated)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="/Account/SignOut"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
                </ul>

            }
            else {

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/Home/SignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="~/Home/SignIn"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                </ul>

            }


 
        </div>
    </div>
</nav>
