﻿@model MovieApplication.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="standard_padding">
     <div class="col-md-12 margin_20">
        <form class="form-horizontal centred adminForm" role="form" method="post" action="/Account/EditProfile">
            <div>@Html.ValidationSummary(false , "" , new { @class = "alert-danger" })</div>
            <div class="form-group ">
                <label class="control-label col-sm-2">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control straight_corner" name="FirstName" placeholder="Enter First Name" value="@Model.User.FirstName">
                </div>
            </div>
            <div class="form-group ">
                <label class="control-label col-sm-2">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control straight_corner" name="LastName" placeholder="Enter Last Name" value="@Model.User.LastName">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control straight_corner" name="Email" readonly value="@Model.User.Email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Phone Number:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control straight_corner" name="PhoneNumber" placeholder="Enter Phone Number" value="@Model.User.PhoneNumber">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Current Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control straight_corner" name="CurrentPassword" placeholder="Enter Current Password"  >
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">New Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control straight_corner" name="Password" placeholder="Enter New Password"  >
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Confirm New Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control straight_corner" name="ConfirmPassword" placeholder="Confirm Password"  >
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success standard_button  centred">Save</button>
            </div>
        </form>
    </div>
</div>
