﻿@model MovieApplication.ViewModels.DashBoardViewModel
@using MovieApplication.Enums
@using MovieApplication.Models
@{
    ViewBag.Title = "Admin DashBoard";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="row">
    <div class="col-lg-6 dashboard_panel">
        <div class="panel panel-default straight_corner">
            <div class="panel-heading">
                <div class="panel-title"><h4>Rating</h4></div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Movie </th>
                            <th>Rating  </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Movie movie in Model.MoviesByRating)
                        {
                            <tr><td>@movie.Name </td><td> @movie.AverageRating</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 dashboard_panel">
        <div class="panel panel-default straight_corner">
            <div class="panel-heading">
                <div class="panel-title"><h4>Ticket Revenue</h4></div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Movie</th>
                            <th>Total Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Movie movie in Model.MovieByRevenue)
                        {
                            <tr><td>@movie.Name</td>  <td>$@movie.Sessions.Sum(s => s.Transactions.Sum(t => t.Amount))</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 dashboard_panel">
        <div class="panel panel-default straight_corner">
            <div class="panel-heading">
                <div class="panel-title"><h4>Manage Slides</h4></div>
            </div>
            <div class="panel-body">
                <div id="indexSlides">
                    <div class="wrapper">
                        <form class="frame" enctype="multipart/form-data">
                            <div id="browseButton">
                                <p>+</p>
                                <input type="file" name="Uploads" />
                            </div>
                        </form>
                        @foreach (Slide slide in Model.Slides.OrderBy(s => s.Order))
                        {
                            <div class="frame">
                                <p class="delete_symbol" data_url="/Admin/DeleteSlide/@slide.SlideID">X</p>
                                <img src="@slide.Path" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-6 dashboard_panel">
        <div class="panel panel-default straight_corner" id="attendanceRate">
            <div class="panel-heading">
                <div class="panel-title"><h4>Attendance Rate</h4></div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Movie </th>
                            <th> Time </th>
                            <th> Attendance Rate </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Session session in Model.Sessions)
                        {
                            var curVal = session.Seats.Count(s => s.Availability == SeatAvailability.TAKEN);
                            <tr>
                                <td>@session.Movie.Name</td>
                                <td>@session.Time.ToString("dd/MM/yy HH:mm")</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="@curVal" aria-valuemin="0" aria-valuemax="@session.Seats.Count" style="width: @curVal%; color: black">
                                            @curVal%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
