﻿
@model MovieApplication.ViewModels.ManageSessionViewModel
@using MovieApplication.Models
@using MovieApplication.Enums
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Manage Session";
    var count = 1;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel-group standard_margin">
            @foreach (Movie movie in Model.Movies)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse_@count">
                                @movie.Name
                            </a>
                        </h4>
                    </div>
                    <div id="collapse_@count" class="panel-collapse open in">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Price</th>
                                        <th>Cinema</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var sessions = movie.Sessions.OrderBy(s => s.Time).ToList();
                                    }
                                    @foreach (Session session in sessions)
                                    {

                                        <tr>
                                            <td>@session.Time.ToString("dd/MM/yyyy")</td>
                                            <td>@session.Time.ToString("HH:mm")</td>
                                            <td>$@session.TicketPrice</td>
                                            <td>@session.CinemaID</td>
                                            <td>
                                                <a href="/Admin/DeleteSession/@session.SessionID" class="text-danger">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                                        }
        </div>
    </div>
</div>
<div class="row margin_20">
    <h2 class="centred admin_bottom_border">Add New Session </h2>
    <div class="col-md-12 margin_20">
        <form role="form" class="centred adminForm" method="post" action="/Admin/AddSession">
            <div>@Html.ValidationSummary(false, "", new { @class = "alert-danger" })</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Date:</label>
                        <input type="date" class="form-control" name="Date" value="@{WriteLiteral(Model.Date ?? DateTime.Today.ToString("yyyy-MM-dd"));}">
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Time:</label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control" name="Hour">
                                    @for (var i = 0; i <= 23; i++)
                                    {
                                        if (i == Model.Hour)
                                        {
                                            <option selected value="@i">@string.Format("{0:00}", i)</option>
                                        }
                                        else {
                                            <option value="@i">@string.Format("{0:00}", i)</option>
                                        }

                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" name="Minute">
                                    @for (var i = 0; i <= 59; i++)
                                    {
                                        if (i == Model.Minute)
                                        {
                                            <option selected value="@i">@string.Format("{0:00}", i)</option>
                                        }
                                        else {
                                            <option value="@i">@string.Format("{0:00}", i)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="form-group">
                <label>Movie:</label>
                <select class="form-control" name="MovieID">
                    @foreach (Movie movie in Model.Movies)
                    {
                        if (Model.MovieID == movie.MovieID)
                        {
                            <option selected value="@movie.MovieID">@movie.Name</option>
                        }
                        else {
                            <option value="@movie.MovieID">@movie.Name</option>
                        }

                    }
                </select>
            </div>

            <div class="form-group">
                <label>Price:</label>
                <input type="number" class="form-control" name="Price" >
            </div>
            <div class="form-group">
                <label>Cinema:</label>
                <select class="form-control" name="CinemaID">
                    @foreach (Cinema cinema in Model.Cinemas)
                    {

                        if (cinema.CinemaID == Model.CinemaID)
                        {
                            <option selected value="@cinema.CinemaID">@cinema.CinemaID</option>
                        }
                        else {
                            <option value="@cinema.CinemaID">@cinema.CinemaID</option>
                        }
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-success centred standard_button">Add</button>
        </form>

    </div>
</div>
