﻿@model MovieApplication.ViewModels.ManageMovieViewModel
@using MovieApplication.Models
@using MovieApplication.Enums
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Manage Movie";
    var count = 1;
}
<div class="row">
    <div class="col-md-12">
        <div>@Html.ValidationSummary(false, "", new { @class = "alert-danger" })</div>
        <div class="panel-group standard_margin" id="adminAccordion">
            @foreach (Movie movie in Model.Movies)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#adminAccordion" href="#collapse_@count">
                                @movie.Name
                            </a>
                            <a href="/Admin/DeleteMovie/@movie.MovieID" class="float_right delete_symbol">&#9747</a>
                        </h4>
                    </div>
                    <div id="collapse_@count" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form role="form" method="post" action="/Admin/EditMovie/@movie.MovieID" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Cover:</label>
                                    <input type="file" class="form-control" name="Upload">
                                </div>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" name="Name" value="@movie.Name">
                                </div>

                                <div class="form-group">
                                    <label>Trailer URL:</label>
                                    <input type="text" class="form-control" name="Trailer" value="@movie.Trailer">
                                </div>
                                <div class="form-group">
                                    <label>Length:</label>
                                    <input type="number" class="form-control" name="Length" value="@movie.Length">
                                </div>
                                <div class="form-group">
                                    <label>Lanaguage:</label>
                                    <select class="form-control" name="Language" >
                                        @foreach (Language language in Enum.GetValues(typeof(Language)))
                                        {
                                            if (movie.Language == language)
                                            {
                                                <option selected>@language</option>
                                            }
                                            else {
                                                <option>@language</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Category:</label>
                                    <select class="form-control" name="Category" value="@movie.Category">
                                        @foreach (Category category in Enum.GetValues(typeof(Category)))
                                        {
                                            if (movie.Category == category)
                                            {
                                                <option selected>@category</option>
                                            }
                                            else {
                                                <option>@category</option>
                                            }

                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Synopsis:</label>
                                    <textarea class="form-control" name="Synopsis">@movie.Synopsis</textarea>
                                </div>

                                <button type="submit" class="btn btn-success centred standard_button">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
                count++;
            }
        </div>
    </div>
</div>
<div class="row margin_20">
    <h2 class="centred admin_bottom_border">Add New Movie </h2>
    <div class="col-md-12 margin_20">
        <form role="form" class="centred adminForm" method="post" action="/Admin/AddMovie"   enctype="multipart/form-data">
            <div class="form-group">
                <label>Cover:</label>
                <input type="file" class="form-control" name="Upload" accept="image/*">
            </div>
            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" name="Name" value="@Model.AddedMovie.Name">
            </div>
            <div class="form-group">
                <label>Trailer:</label>
                <input type="text" class="form-control" name="Trailer" placeholder="Enter The URL Of The Trailer" value="@Model.AddedMovie.Trailer">
            </div>
            <div class="form-group">
                <label>Length:</label>
                <input type="number" class="form-control" name="Length" value="@Model.AddedMovie.Length">
            </div>
            <div class="form-group">
                <label>Lanaguage:</label>
                <select class="form-control" name="Language" value="@Model.AddedMovie.Language">
                    @foreach (Language language in Enum.GetValues(typeof(Language)))
                    {
                        <option>@language</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Category:</label>
                <select class="form-control" name="Category" value="@Model.AddedMovie.Category">
                    @foreach (Category category in Enum.GetValues(typeof(Category)))
                    {
                        <option>@category</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Synopsis:</label>
                <textarea class="form-control" name="Synopsis">@Model.AddedMovie.Synopsis </textarea>
            </div>
            <button type="submit" class="btn btn-success centred standard_button">Add</button>
        </form>
    </div>
</div>