﻿
@model MovieApplication.ViewModels.ManageCinemaViewModel
@using MovieApplication.Models
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Manage Cinema";

}
<div class="row" id="manageCinema">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cinema</th>
                    <th>Row</th>
                    <th>Column</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
 
                @foreach (Cinema cinema in Model.Cinemas)
                {

                    <tr>
                        <td>@cinema.CinemaID</td>
                        <td>@cinema.Row</td>
                        <td>@cinema.Column</td>
                        <td>
                            <a href="/Admin/DeleteCinema/@cinema.CinemaID" class="text-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>
<div class="row margin_20">
    <h2 class="centred admin_bottom_border">Add New Cinema </h2>
    <div class="col-md-12 margin_20">
        <form role="form" class="centred adminForm" method="post" action="/Admin/AddCinema">
            <div>@Html.ValidationSummary(false, "", new { @class = "alert-danger" })</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Row:</label>
                        <input type="number" class="form-control" name="Row">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Column:</label>
                        <input type="number" class="form-control" name="Column">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success centred standard_button">Add</button>
        </form>

    </div>
</div>
